body {
  background-color:#3a3a3a;
  font: 600 14px Montserrat;
}
header {
  color: white;
  text-align: center;
}
section {
  text-align: center;
  padding: 20px;
  font: 500 14px Montserrat;
  color: black;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 3px rgb(82, 70, 70);
}
#num {
  width: 75px;
}
#res{
  text-align: center;
}
footer {
  color: white;
  text-align: center;
  margin-top: 20px;
  font: 400 16px Montserrat;
}